<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Successfully registered</title>
      <style>
        span {color: blue;}
      </style>
   </head>
    
   <body>
    	<div th:replace="fragments/header.html :: myheader"></div>
       	<tr th:each="userAccount : ${listUserAccounts}">
					<td th:text="${userAccount.firstName}"></td>
					</tr>
					
					
      <h2>You have successfully registered!</h2>
       
      <div th:if="${flashUser != null}">
         <ul>
         <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
         </ul>
      </div>
      
       
   </body>
</html>