<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>userAccount Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<body>
	<div th:replace="fragments/header.html :: myheader"></div>
	<div class="container">
		<h1>userAccount Management System</h1>
		<hr>
		<h2>Save userAccount</h2>

		<form action="#" th:action="@{/saveUserAccount}"
			th:object="${userAccount}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" /> <input type="text"
				th:field="*{firstName}" placeholder="First Name"
				class="form-control mb-4 col-4">
			<p th:if="${#fields.hasErrors('*{firstName}')}"
				th:errors="*{firstName}">Need valid first name</p>

			<input type="text" th:field="*{lastName}" placeholder="Last Name"
				class="form-control mb-4 col-4">
			<p th:if="${#fields.hasErrors('*{lastName}')}"
				th:errors="*{lastName}">Need valid last name</p>

			<input type="text" th:field="*{email}" placeholder="Email"
				class="form-control mb-4 col-4">
			<p th:if="${#fields.hasErrors('*{email}')}" th:errors="*{email}">Need
				valid email info</p>

			<input type="text" th:field="*{username}" placeholder="Username"
				class="form-control mb-4 col-4">
			<p th:if="${#fields.hasErrors('*{username}')}"
				th:errors="*{username}">Need valid date</p>

			<input type="password" th:field="*{password}" placeholder="password"
				class="form-control mb-4 col-4">
			<p th:if="${#fields.hasErrors('*{password}')}"
				th:errors="*{password}">Need valid password</p>


			<button type="submit" class="btn btn-info col-2">Update
				Employee</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to User Account List</a>
	</div>
	<div th:replace="fragments/footer.html :: myfooter"></div>
</body>
</html>